* {
  margin: 0;
  padding: 0;
  /* border: 1px dashed red; */
}

body {
  background-color: #e8eaed;
  font: 600 16px "Noto Serif", sans-serif
}

main section:last-child {
  padding-bottom: 2.8vw;
}

.hero {
  height: 80vh;
  min-height: fit-content;
  max-height: 60vw;
  background-color: #b5becd;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
}

.hero>div {
  flex: 1;
  height: fit-content;
}

.hero>div>h1 {
  font: 700 3.3vw "Noto Serif", sans-serif;
}

.hero>div>p {
  font: 400 1.3vw "Inter", sans-serif;
}

#navbar {
  padding-top: 0.4em;
  gap: 0.5em;
  font: 400 1.3vw 'Noto Serif', sans-serif;
}

#navbar > a > i {
  font-size: 1.6vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-container {
  height: fit-content;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-top: 2.8vw;
  gap: 0.7vw;
}

.section-header {
  font: 600 2.5vw "Noto Serif", sans-serif;
  display: flex;
  gap: 1.4vw;
}

.section-header>hr {
  flex-grow: 1;
  margin-top: 0.3vw;
  border: 0.15vw solid black !important;
}

.section-text {
  font: 400 1.25vw "Inter", sans-serif;
}

.contributor {
  flex: 1;
  font-size: 0.8vw;
  text-align: center;
}

.contributor > img {
  border: 1px solid #d2d4d6;
  padding: 0.5em;
}

.contributor > h1 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.contributor > p {
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

#footer {
  height: 10vh;
  background-color: #b5becd;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  font: 400 14px "Inter", sans-serif;
}